.container {
  display: flex; /* Lay sections out side by side */
  overflow: hidden; /* Prevent any scrollbars from showing */
  width: 100vw; /* Set the container to the viewport width */
}

.panel {
  min-width: 100vw; /* Each panel takes up the full viewport width */
  height: 100vh; /* Each panel takes up the full viewport height */
  flex-shrink: 0; /* Prevent panels from shrinking */
}
