@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* src/styles.css */

:root {
  --bg-color-hsl: 0, 0%, 100%;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: hsl(238, 70%, 40%);
  --color-text: hsl(0, 0%, 20%);
  --color-text-highlight: hsl(0, 0%, 0%);
  --cursor-color: #FF5733;
}

.dark-mode {
  --bg-color-hsl: 0, 0%, 7%;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: hsl(238, 70%, 40%);
  --color-text: hsl(0, 0%, 80%);
  --color-text-highlight: hsl(0, 0%, 100%);
  --cursor-color: #33FF57;
}

body {
  background-color: var(--bg-color);
  color: var(--color-text);
}

h1, p {
  color: var(--color-text-highlight);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
